<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="../../external/packages" />
    <add key="globalPackagesFolder" value="../../external/packages" />
  </config>
    <settings>
      <repositoryPath>../../external/packages</repositoryPath>
    </settings>
</configuration>
<settings>
  <repositoryPath>../../external/packages</repositoryPath>
</settings>
<packages>
  <package id="Microsoft.XAudio2.Redist" version="1.2.6" targetFramework="native" />
</packages>