<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="../../external/packages" />
    <add key="globalPackagesFolder" value="../../external/packages" />
  </config>
    <settings>
      <repositoryPath>../../external/packages</repositoryPath>
    </settings>
</configuration>
<settings>
  <repositoryPath>../../external/packages</repositoryPath>
</settings>
<packages>
  <package id="Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn" version="1.8.0" targetFramework="native" />
</packages>